# **Tutorial: Understanding List and Dictionary Operations in Python**

## **Part 1: List Operations**
Lists are ordered, mutable collections that allow duplicates. Below, we explain commonly used list operations with examples.

### **1. Adding Elements**
- **`append()`**: Adds an element to the end of the list.

In [ ]:
numbers = [10, 20, 30]
numbers.append(40)  # Adds 40 to the end
print(numbers)  # Output: [10, 20, 30, 40]

- **`insert(index, element)`**: Inserts an element at a specific position.

In [ ]:
numbers.insert(1, 25)  # Inserts 25 at index 1
print(numbers)  # Output: [10, 25, 20, 30, 40]

### **2. Removing Elements**
- **`remove(element)`**: Removes the first occurrence of a value.

In [ ]:
numbers.remove(30)  # Removes the first occurrence of 30
print(numbers)  # Output: [10, 25, 20, 40]

- **`pop(index)`**: Removes and returns the element at the given index (default is the last element).

In [ ]:
removed = numbers.pop(2)  # Removes the element at index 2
print(removed)  # Output: 20
print(numbers)  # Output: [10, 25, 40]

### **3. Finding Elements**
- **`index(element)`**: Returns the index of the first occurrence of a value.

In [ ]:
index = numbers.index(25)
print(index)  # Output: 1

- **`count(element)`**: Counts the occurrences of a value.

In [ ]:
count = numbers.count(40)
print(count)  # Output: 1

### **4. Sorting and Reversing**
- **`sort()`**: Sorts the list in ascending order (in-place).

In [ ]:
numbers.sort()
print(numbers)  # Output: [10, 25, 40]

- **`reverse()`**: Reverses the list (in-place).

In [ ]:
numbers.reverse()
print(numbers)  # Output: [40, 25, 10]

### **5. Copying and Clearing**
- **`copy()`**: Creates a shallow copy of the list.

In [ ]:
copy_numbers = numbers.copy()
print(copy_numbers)  # Output: [40, 25, 10]

- **`clear()`**: Removes all elements from the list.

In [ ]:
numbers.clear()
print(numbers)  # Output: []

### **6. Extending a List**
- **`extend(iterable)`**: Adds all elements of an iterable to the end of the list.

In [ ]:
numbers = [10, 20]
numbers.extend([30, 40, 50])
print(numbers)  # Output: [10, 20, 30, 40, 50]

---

## **Part 2: Dictionary Operations**
Dictionaries are unordered collections of key-value pairs. Keys must be unique and immutable.

### **1. Adding and Updating Elements**
- Add a new key-value pair:

In [ ]:
student_grades = {'Alice': 85, 'Bob': 90}
student_grades['Charlie'] = 78  # Adds Charlie
print(student_grades)  # Output: {'Alice': 85, 'Bob': 90, 'Charlie': 78}

- Update an existing key's value:

In [ ]:
student_grades['Alice'] = 88  # Updates Alice's grade
print(student_grades)  # Output: {'Alice': 88, 'Bob': 90, 'Charlie': 78}

### **2. Removing Elements**
- **`pop(key)`**: Removes and returns the value associated with the key.

In [ ]:
removed = student_grades.pop('Bob')
print(removed)  # Output: 90
print(student_grades)  # Output: {'Alice': 88, 'Charlie': 78}

- **`clear()`**: Removes all key-value pairs.

In [ ]:
student_grades.clear()
print(student_grades)  # Output: {}

### **3. Retrieving Elements**
- **`get(key)`**: Returns the value for a key or `None` if the key doesnâ€™t exist.

In [ ]:
bob_grade = student_grades.get('Bob', 'Not Found')
print(bob_grade)  # Output: Not Found

- Check for a key:

In [ ]:
is_present = 'Alice' in student_grades
print(is_present)  # Output: True

### **4. Keys, Values, and Items**
- **`keys()`**: Returns a view of all keys.

In [ ]:
keys = student_grades.keys()
print(keys)  # Output: dict_keys(['Alice', 'Charlie'])

- **`values()`**: Returns a view of all values.

In [ ]:
values = student_grades.values()
print(values)  # Output: dict_values([88, 78])

- **`items()`**: Returns a view of all key-value pairs as tuples.

In [ ]:
items = student_grades.items()
print(items)  # Output: dict_items([('Alice', 88), ('Charlie', 78)])

### **5. Merging Dictionaries**
- **`update()`**: Adds or updates key-value pairs from another dictionary.

In [ ]:
new_grades = {'Diana': 92, 'Eve': 87}
student_grades.update(new_grades)
print(student_grades)  # Output: {'Alice': 88, 'Charlie': 78, 'Diana': 92, 'Eve': 87}

---

## **Summary**
- Lists are best for ordered, sequential data, while dictionaries are ideal for key-value mappings.
- Both data structures offer a range of methods to manipulate, retrieve, and update their contents.

---

## Exercises

### On Lists

In [ ]:
# Given list
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# 1. Add a new number (e.g., 110) to the end of the list
numbers.append(______)

In [ ]:
# 2. Insert the number 25 at the 2nd position
numbers.insert(______, ______)

In [ ]:
# 3. Remove the number 40 from the list
numbers.remove(______)

In [ ]:
# 4. Find the index of the number 60 in the list
index = numbers.index(______)

In [ ]:
# 5. Sort the list in descending order
numbers.sort(______)

In [ ]:
# 6. Reverse the order of the list
numbers.______()

In [ ]:
# 7. Count the occurrences of the number 30 in the list
count = numbers.count(______)

In [ ]:
# 8. Create a copy of the list
numbers_copy = numbers.______()

In [ ]:
# 9. Clear all elements from the list
numbers.______()

In [ ]:
# 10. Extend the list by adding another list [200, 300, 400]
numbers.extend(______)

---

### On Dictionaries

In [ ]:
# Given dictionary
student_grades = {
    'Alice': 85,
    'Bob': 90,
    'Charlie': 78,
    'Diana': 92
}

In [ ]:
# 1. Add a new student 'Eve' with a grade of 88
student_grades[______] = ______

In [ ]:
# 2. Update Charlie's grade to 80
student_grades[______] = ______

In [ ]:
# 3. Remove Diana from the dictionary
student_grades.pop(______)

In [ ]:
# 4. Retrieve the grade for Bob
bob_grade = student_grades.get(______)

In [ ]:
# 5. Check if 'Alice' is in the dictionary
is_alice_present = 'Alice' in ______

In [ ]:
# 6. Get all the keys in the dictionary
keys = student_grades.______()

In [ ]:
# 7. Get all the values in the dictionary
values = student_grades.______()

In [ ]:
# 8. Get all key-value pairs as a list of tuples
items = student_grades.______()

In [ ]:
# 9. Clear all entries in the dictionary
student_grades.______()

In [ ]:
# 10. Merge another dictionary {'Frank': 75, 'Grace': 88} into student_grades
student_grades.update(______)

---

## Some Advanced Exercises

### On Lists

1. Write a function to find the second largest number in a list.

2. Rotate a list to the left by `n` positions (e.g., [1, 2, 3, 4] becomes [3, 4, 1, 2] for `n=2`).

3. Flatten a nested list (e.g., [[1, 2], [3, 4]] becomes [1, 2, 3, 4]).

4. Remove duplicates from a list while maintaining order.

5. Find all pairs in a list that sum to a target value.

6. Merge two sorted lists into a single sorted list.

7. Split a list into chunks of size `n`.

8. Find the intersection of two lists.

9. Check if a list is a palindrome.

10. Replace all occurrences of an element with another value.

### On Dictionaries

1. Write a function to invert a dictionary (swap keys and values).

2. Merge two dictionaries, summing values for common keys.

3. Find the key with the highest value in a dictionary.

4. Group a list of tuples by the first element (e.g., [("a", 1), ("b", 2), ("a", 3)] becomes {"a": [1, 3], "b": [2]}).

5. Count the frequency of characters in a string using a dictionary.

6. Create a nested dictionary from two lists (keys and values).

7. Sort a dictionary by its values in descending order.

8. Filter a dictionary to include only keys that start with a specific letter.

9. Combine multiple dictionaries into one.

10. Write a function to check if two dictionaries are identical.